<html>

<head>
	<title>Waivers Listing</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
	<style>
		.list {
			max-height: 80%;
			overflow: auto;
			font-size: 14pt;
		}
		
		.clickable {
			cursor: pointer;
		}
		
	</style>
	
</head>

<body>
	<div class='container'>
		<h1 style='margin-bottom: 25px;'>Waivers Listing:</h1>

		<table class='table table-striped table-hover'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Zip Code</th>
					<th>Signature</th>
					<th>Date Signed</th>
				</tr>
			</thead>
			
			<tbody class='list'>
				{% for waiver in waivers %}
					<tr>
						<td>{{ waiver['name'] }}</td>
						<td>{{ waiver['email'] }}</td>
						<td>{{ waiver['phone'] }}</td>
						<td>{{ waiver['zip'] }}</td>
						<td><a href="{{ waiver['signature'] }}" target='_blank'><img src="{{ waiver['signature'] }}" width='100px'></a></td>
						<td>{{ waiver['date'].strftime('%m/%d/%y') }}</td>
						<td><a href="javascript: document.location = '/waiver?entry='+'{{ waiver['name'].replace(" ", "_") }}' +'.'+'{{ waiver['date'].strftime('%d-%m-%y') }}'" title='Download JSON'><span class='glyphicon glyphicon-download-alt'></span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

</html>